* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol,
ul {
  margin: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  background-color: black;
  padding: 25px 0 40px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list--item:nth-child(1) {
  margin-right: 100px;
}

.header__list--item:nth-child(2) {
  margin-right: 68px;
}

.header__list--item:nth-child(3) {
  margin-right: 62px;
}

.header__link {
  color: #fff;
  font-size: 20px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
  width: 20%;
}

.header__text--title {
  color: #fff;
  font-size: 96px;
  font-weight: 900;
  text-shadow: -6px -3px 2px black, -7px -4px 0px #fff;
  letter-spacing: 5px;
}

.header__text--title::first-letter {
  text-transform: uppercase;
}

.header__text--paragraph {
  color: #fff;
  margin-top: 10px;
}

.header__text--button {
  background: #1400FF;
  border-radius: 8px;
  padding: 15px 43px;
  border: none;
  outline: none;
  margin-top: 35px;
}

.header__text--button:hover {
  cursor: pointer;
}

.header__text--button a {
  font-weight: 600;
  font-size: 17px;
  color: #fff;
}

.logo {
  width: 64px;
  height: 64px;
}

.phone {
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}

.russian {
  text-transform: uppercase;
  position: relative;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.russian::after {
  content: '';
  position: absolute;
  right: -8px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}

.uzbek {
  text-transform: uppercase;
  color: #585555;
  font-size: 20px;
}

.map {
  width: 800px;
  position: absolute;
  right: 0;
}

.statistics {
  margin-top: 120px;
}

.statistics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6FF;
  border-radius: 10px;
  padding: 35px 30px;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.statistics__item:nth-child(1):before {
  content: '';
  background-color: #1400FF;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: -15%;
  left: 5%;
  background-image: url("../img/main/Frame.png");
  background-repeat: no-repeat;
  background-position: center;
}

.statistics__item:nth-child(2):before {
  content: '';
  background-color: #1400FF;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: -15%;
  left: 5%;
  background-image: url("../img/main/Frame (1).png");
  background-repeat: no-repeat;
  background-position: center;
}

.statistics__item:nth-child(3):before {
  content: '';
  background-color: #1400FF;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: -15%;
  left: 5%;
  background-image: url("../img/main/Frame (2).png");
  background-repeat: no-repeat;
  background-position: center;
}

.statistics__item:nth-child(4):before {
  content: '';
  background-color: #1400FF;
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: -15%;
  left: 5%;
  background-image: url("../img/main/Frame (3).png");
  background-repeat: no-repeat;
  background-position: center;
}

.counter {
  color: #1400FF;
  font-weight: 700;
  font-size: 48px;
}

.counter__title {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.programms {
  margin-top: 120px;
}

.programms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programms__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programms__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 64px;
}

.programms__link {
  font-size: 24px;
  font-weight: 700;
  color: #1400FF;
  text-decoration: underline;
  white-space: nowrap;
}

.webp .statistics__item:nth-child(1):before { background-image: url(../img/main/Frame.webp); }

.webp .statistics__item:nth-child(2):before { background-image: url("../img/main/Frame (1).png"); }

.webp .statistics__item:nth-child(3):before { background-image: url("../img/main/Frame (2).png"); }

.webp .statistics__item:nth-child(4):before { background-image: url("../img/main/Frame (3).png"); }